flows_center.json
[{"id":"1eb07d0d.798353","type":"tab","label":"(본사) MQTT Topics Logging","disabled":true,"info":""},{"id":"55d33ac.d7aaec4","type":"tab","label":"RemoteSolution-MII-Data-Getter","disabled":false,"info":""},{"id":"6581aefa.7810c","type":"tab","label":"각 지사별 다운로드","disabled":true,"info":""},{"id":"9fdcecb9.feb13","type":"tab","label":"Calculation","disabled":false,"info":"1. Reference : \n   - MODEL LIST\n   - ALRAM RULE\n   - CPK RULE\n \n2. Calculaton :\n   - CPK per INSPECTION ITEM\n   - ALRAM per INSPECTION ITEM\n   - ALRAM per CHANNEL OF TEST MACHINE\n\n3. Output :\n   - ORIGINAL + CPK TO MSSQL\n   - ALRAM TO MSSQL\n   - ALRAM TO MQTT"},{"id":"f1fdecbb.73494","type":"subflow","name":"Insert Model Data","info":"","in":[{"x":60,"y":60,"wires":[{"id":"4829a067.a9354"}]}],"out":[{"x":1100,"y":60,"wires":[{"id":"1090375f.dfdae9","port":0}]}]},{"id":"b4aed5e2.8925e8","type":"subflow","name":"Insert Plan Data","info":"","in":[{"x":800,"y":260,"wires":[{"id":"90cc5027.52a4e"}]}],"out":[{"x":1860,"y":260,"wires":[{"id":"5712475d.126c08","port":0}]}]},{"id":"b0cf8635.7f4c78","type":"mqtt-broker","z":"","name":"localMQTTBroker","broker":"localhost","port":"1883","clientid":"main","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e2ccc07d.64fb5","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"","usetls":false,"tls":""},{"id":"bc96548e.f1a348","type":"MSSQL-CN","z":"","name":"지사 서버(가정)","server":"219.251.4.237","encyption":true,"database":"thingspin-v0"},{"id":"eb3120e1.46088","type":"sqldbsdatabase","z":"","host":"219.251.4.236","port":"3306","db":"thingspin","dialect":"mysql"},{"id":"4de311e8.460af","type":"MySQLdatabase","z":"","host":"219.251.4.236","port":"3306","db":"thingspin","tz":""},{"id":"8fd034e1.6a9df8","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL DEMO SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"60000","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":""},{"id":"a68367a3.7a4868","type":"sqldbsdatabase","z":"","host":"222.103.90.24","port":"1433","db":"POPLM","dialect":"mssql"},{"id":"4a32a9f5.5882b8","type":"MSSQL-CN","z":"","name":"Remote Solution MII Database","server":"222.103.90.24","encyption":false,"database":"POPLM"},{"id":"1b4ec9a7.f485e6","type":"mqtt-broker","z":"","name":"Local MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"62088376.ebf75c","type":"influxdb","z":"","hostname":"219.251.4.236","port":"8086","protocol":"http","database":"thingspin","name":"rms-center-influxdb","usetls":false,"tls":""},{"id":"a719dc91.d52c9","type":"mqtt-broker","z":"","name":"Local MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fd263ee.e8bc3c","type":"influxdb","z":"","hostname":"219.251.4.237","port":"8086","protocol":"http","database":"thingspin","name":"rms-branch-influxdb","usetls":false,"tls":""},{"id":"6ee9bc3c.30a894","type":"mqtt in","z":"1eb07d0d.798353","name":"Main Broker Recv","topic":"#","qos":"0","broker":"b0cf8635.7f4c78","x":110,"y":120,"wires":[["7c93f19c.87d53","2af0a035.52ddc"]]},{"id":"b309b6c.f222748","type":"sqldbs","z":"1eb07d0d.798353","mydb":"eb3120e1.46088","querytype":"Insert","name":"","x":220,"y":360,"wires":[["3bc9ae3.a401352"]]},{"id":"3bc9ae3.a401352","type":"debug","z":"1eb07d0d.798353","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":360,"wires":[]},{"id":"b943ca40.fa4bd8","type":"template","z":"1eb07d0d.798353","name":"Query Template","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into t_mqtt_log (CONTENTS) values (\n    '{{{payload}}}'\n)","output":"str","x":240,"y":280,"wires":[["b309b6c.f222748","1af4127d.f3ccce"]]},{"id":"7c93f19c.87d53","type":"function","z":"1eb07d0d.798353","name":"data preprocessing","func":"var result = {\n    payload: JSON.stringify(msg)\n};\n\nreturn result;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["b943ca40.fa4bd8","7d8ed8e9.4e84a8"]]},{"id":"2af0a035.52ddc","type":"debug","z":"1eb07d0d.798353","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":120,"wires":[]},{"id":"7d8ed8e9.4e84a8","type":"debug","z":"1eb07d0d.798353","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":200,"wires":[]},{"id":"1af4127d.f3ccce","type":"debug","z":"1eb07d0d.798353","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":280,"wires":[]},{"id":"914f5e2e.4a378","type":"mqtt in","z":"6581aefa.7810c","name":"검사 항목 추가/수정 수신","topic":"inspection_property/+/insert","qos":"1","broker":"b0cf8635.7f4c78","x":140,"y":140,"wires":[["78be5745.9b1378","4cec85a0.807b9c"]]},{"id":"2bc20be9.a16254","type":"comment","z":"6581aefa.7810c","name":"본사 Broker : 219.251.4.236:1883","info":"","x":170,"y":60,"wires":[]},{"id":"a732232d.f12b5","type":"mysql","z":"6581aefa.7810c","mydb":"4de311e8.460af","name":"본사 MariaDB","x":610,"y":680,"wires":[["42ae56be.f20bf8","15ed7574.e4ac7b"]]},{"id":"391d426c.e87dde","type":"template","z":"6581aefa.7810c","name":"지사 코드 쿼리","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from t_site_code","output":"str","x":610,"y":600,"wires":[["a732232d.f12b5","c4185791.f0cbc8"]]},{"id":"ed9ffe13.98521","type":"mqtt out","z":"6581aefa.7810c","name":"각 지사 MQTT Broker에 전달","topic":"","qos":"","retain":"","broker":"b0cf8635.7f4c78","x":950,"y":840,"wires":[]},{"id":"78be5745.9b1378","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":140,"wires":[]},{"id":"4cec85a0.807b9c","type":"json","z":"6581aefa.7810c","name":"","property":"payload","action":"","pretty":false,"x":580,"y":440,"wires":[["6ccc3953.9acbe8","f0ae13f3.dec78"]]},{"id":"f0ae13f3.dec78","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":440,"wires":[]},{"id":"15ed7574.e4ac7b","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":680,"wires":[]},{"id":"c4185791.f0cbc8","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":600,"wires":[]},{"id":"6ccc3953.9acbe8","type":"function","z":"6581aefa.7810c","name":"Payload 복사","func":"msg.mqttData = JSON.parse(JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":520,"wires":[["70ee7b35.fa9524","391d426c.e87dde"]]},{"id":"70ee7b35.fa9524","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":520,"wires":[]},{"id":"42ae56be.f20bf8","type":"function","z":"6581aefa.7810c","name":"MQTT 전송 형식 설정","func":"var messages = [];\nmsg.retain = true;\n\nmsg.payload.forEach( (t_site_code) => {\n    let temp = JSON.parse(JSON.stringify(msg));\n    temp.payload = JSON.parse(JSON.stringify(temp.mqttData));\n    temp.topic = t_site_code.SITE_NAME + \"/\" + temp._topic;\n    messages.push(temp);\n});\nreturn [messages];","outputs":1,"noerr":0,"x":630,"y":760,"wires":[["81190370.f1ae4","ed9ffe13.98521"]]},{"id":"331e4ef7.04ff12","type":"comment","z":"1eb07d0d.798353","name":"본사 Broker : 219.251.4.236:1883","info":"","x":150,"y":60,"wires":[]},{"id":"81190370.f1ae4","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":760,"wires":[]},{"id":"ff14db0b.94fff8","type":"mqtt in","z":"6581aefa.7810c","name":"검사 항목 삭제 수신","topic":"inspection_property/+/delete","qos":"1","broker":"b0cf8635.7f4c78","x":120,"y":200,"wires":[["4cec85a0.807b9c","8db22df3.e7a51"]]},{"id":"8db22df3.e7a51","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":200,"wires":[]},{"id":"34dbd7d2.43b058","type":"mqtt in","z":"6581aefa.7810c","name":"모델별 조치 기준 추가/수정 수신","topic":"model_inspection_property/+/+/insert","qos":"1","broker":"b0cf8635.7f4c78","x":160,"y":320,"wires":[["4cec85a0.807b9c","1fd4067a.6ff2ca"]]},{"id":"a55f2d15.12eb1","type":"comment","z":"6581aefa.7810c","name":"모델별 조치기준 다운로드","info":"","x":140,"y":260,"wires":[]},{"id":"218b2e1.de84cd2","type":"mqtt in","z":"6581aefa.7810c","name":"모델별 조치 기준 삭제 수신","topic":"model_inspection_property/+/+/delete","qos":"1","broker":"b0cf8635.7f4c78","x":140,"y":380,"wires":[["4cec85a0.807b9c","cf806a8c.6f72b8"]]},{"id":"1fd4067a.6ff2ca","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":320,"wires":[]},{"id":"cf806a8c.6f72b8","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":380,"wires":[]},{"id":"eb1d2282.bf1b2","type":"comment","z":"6581aefa.7810c","name":"감사항목 다운로드","info":"","x":120,"y":100,"wires":[]},{"id":"79a9bbcf.9e2664","type":"mysql","z":"55d33ac.d7aaec4","mydb":"4de311e8.460af","name":"TS-DB","x":450,"y":160,"wires":[["97321026.6506e"]]},{"id":"3c4fae10.c35482","type":"function","z":"55d33ac.d7aaec4","name":"[SQL] Get Last Date ","func":"msg.topic = \"select DATE_FORMAT(plan_date, '%Y%m%d') as lastdate from t_product_plan order by plan_date DESC limit 1;\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["79a9bbcf.9e2664"]]},{"id":"a0ff79be.964798","type":"inject","z":"55d33ac.d7aaec4","name":"Repeat 1Hour","topic":"thingspin","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["3c4fae10.c35482"]]},{"id":"97321026.6506e","type":"switch","z":"55d33ac.d7aaec4","name":"is Data Empty","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":160,"wires":[["43dd20d5.c1089","eaa950a1.3fd3e"],["64d06ee2.2f6e6","69291f22.a486d"]]},{"id":"4829a067.a9354","type":"MSSQL","z":"f1fdecbb.73494","mssqlCN":"4a32a9f5.5882b8","name":"[SQL] Get Model List","query":"{{{payload}}}","outField":"payload","x":240,"y":60,"wires":[["24df2ef7.3e9d12","5300d5ce.0abe2c"]]},{"id":"24df2ef7.3e9d12","type":"template","z":"f1fdecbb.73494","name":"Make Insert SQL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n('{{MODEL}}','{{MODEL_DIS}}'),\n{{/payload}}","output":"str","x":490,"y":60,"wires":[["8052d4c8.90a308"]]},{"id":"1090375f.dfdae9","type":"mysql","z":"f1fdecbb.73494","mydb":"4de311e8.460af","name":"thingspin","x":950,"y":60,"wires":[[]]},{"id":"8052d4c8.90a308","type":"function","z":"f1fdecbb.73494","name":"Data Function ","func":"var insert_front = \"insert into t_model (MODEL_ID, DESCRIPTION) values \"\nvar insert_end = \" on duplicate key update MODEL_ID=MODEL_ID, DESCRIPTION=DESCRIPTION;\"\nvar content = msg.payload;\nvar insert_content = content.slice(0,-2);\n\nmsg.topic = insert_front + insert_content + insert_end;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":60,"wires":[["1090375f.dfdae9"]]},{"id":"eadc72fe.1b93e","type":"template","z":"b4aed5e2.8925e8","name":"Make Insert SQL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n('{{REGDATE}}', '{{PLANT}}', '{{MODEL}}', {{QUANTITY}}),\n{{/payload}}","output":"str","x":1230,"y":260,"wires":[["6424a250.813bfc"]]},{"id":"6424a250.813bfc","type":"function","z":"b4aed5e2.8925e8","name":"Data Function ","func":"var insert_front = \"insert into t_product_plan (plan_date, plant_id, model_id, amount) values \";\nvar insert_end = \" on duplicate key update plan_date=plan_date, plant_id=plant_id, model_id=model_id, amount=amount;\";\nvar insert_content = msg.payload.slice(0,-2);\nmsg.topic = insert_front + insert_content + insert_end;\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":260,"wires":[["5712475d.126c08"]]},{"id":"90cc5027.52a4e","type":"MSSQL","z":"b4aed5e2.8925e8","mssqlCN":"4a32a9f5.5882b8","name":"[SQL] Get Plan List","query":"","outField":"payload","x":990,"y":260,"wires":[["eadc72fe.1b93e"]]},{"id":"5712475d.126c08","type":"mysql","z":"b4aed5e2.8925e8","mydb":"4de311e8.460af","name":"","x":1690,"y":260,"wires":[[]]},{"id":"a91551cd.44ed9","type":"subflow:f1fdecbb.73494","z":"55d33ac.d7aaec4","name":"Insert All Model Data","x":1120,"y":120,"wires":[["45057157.33693"]]},{"id":"814d43d9.834cb","type":"subflow:b4aed5e2.8925e8","z":"55d33ac.d7aaec4","name":"Insert All Plan Data","x":1590,"y":120,"wires":[[]]},{"id":"64d06ee2.2f6e6","type":"function","z":"55d33ac.d7aaec4","name":"Last Date After Model Insert Query Make","func":"flow.set(\"lastdate\",msg.payload[0].lastdate);\nvar query = \"select MATERIAL as MODEL, MATERIAL_TEXT as MODEL_DIS From Product_Order_Header where START_DATE >= \";\nvar lastdate = msg.payload[0].lastdate;\nvar last = \" group by MATERIAL, MATERIAL_TEXT\";\nnode.log(lastdate);\nmsg.payload = query + lastdate + last\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":180,"wires":[["7be77ce.9df3284"]]},{"id":"43dd20d5.c1089","type":"function","z":"55d33ac.d7aaec4","name":"All Model Insert Query Make","func":"msg.payload = \"select MATERIAL as MODEL, MATERIAL_TEXT as MODEL_DIS From Product_Order_Header group by MATERIAL, MATERIAL_TEXT;\"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":120,"wires":[["a91551cd.44ed9"]]},{"id":"7be77ce.9df3284","type":"subflow:f1fdecbb.73494","z":"55d33ac.d7aaec4","name":"Insert All Model Data","x":1200,"y":180,"wires":[["6b655bc2.161d74","1555ab60.902065"]]},{"id":"1555ab60.902065","type":"function","z":"55d33ac.d7aaec4","name":"Last Date After Plan Insert Query Make","func":"var query = \"SELECT A.START_DATE AS REGDATE,A.PRODUCTION_PLANT AS PLANT,A.MATERIAL AS MODEL,CONVERT(INT, cast(SUM(A.TARGET_QUANTITY) as decimal(10,0))) AS QUANTITY FROM Product_Order_Header A INNER JOIN Product_Order_Item B ON A.ORDER_NUMBER = B.ORDER_NUMBER INNER JOIN Product_Order_Operation C ON A.ORDER_NUMBER = C.ORDER_NUMBER where A.START_DATE >= \";\nvar lastdate = flow.get(\"lastdate\");\nvar last = \"GROUP BY A.START_DATE,A.PRODUCTION_PLANT, A.MATERIAL ORDER BY A.START_DATE ASC;\";\nnode.log(lastdate);\nmsg.payload = query + lastdate + last\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":180,"wires":[["8f4dea41.61c098"]]},{"id":"45057157.33693","type":"function","z":"55d33ac.d7aaec4","name":"All Plan Insert Query Make","func":"msg.payload = \"SELECT A.START_DATE AS REGDATE,A.PRODUCTION_PLANT AS PLANT,A.MATERIAL AS MODEL,CONVERT(INT, cast(SUM(A.TARGET_QUANTITY) as decimal(10,0))) AS QUANTITY FROM Product_Order_Header A INNER JOIN Product_Order_Item B ON A.ORDER_NUMBER = B.ORDER_NUMBER INNER JOIN Product_Order_Operation C ON A.ORDER_NUMBER = C.ORDER_NUMBER GROUP BY A.START_DATE,A.PRODUCTION_PLANT, A.MATERIAL ORDER BY A.START_DATE ASC;\"\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":120,"wires":[["814d43d9.834cb"]]},{"id":"8f4dea41.61c098","type":"subflow:b4aed5e2.8925e8","z":"55d33ac.d7aaec4","name":"Insert All Plan Data","x":1770,"y":180,"wires":[["4c40e0e7.2e4c8"]]},{"id":"6b655bc2.161d74","type":"debug","z":"55d33ac.d7aaec4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":220,"wires":[]},{"id":"4c40e0e7.2e4c8","type":"debug","z":"55d33ac.d7aaec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1950,"y":180,"wires":[]},{"id":"69291f22.a486d","type":"debug","z":"55d33ac.d7aaec4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":220,"wires":[]},{"id":"eaa950a1.3fd3e","type":"debug","z":"55d33ac.d7aaec4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":80,"wires":[]},{"id":"1bdfcb60.4fed05","type":"inject","z":"55d33ac.d7aaec4","name":"","topic":"thingspin","payload":"","payloadType":"date","repeat":"43200","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":300,"wires":[["2b081724.492dd8"]]},{"id":"2b081724.492dd8","type":"function","z":"55d33ac.d7aaec4","name":"[SQL] Get Model Data","func":"msg.topic = \"select MODEL_ID, DESCRIPTION from t_model;\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":380,"wires":[["7c80d02a.4581d"]]},{"id":"c8fb8820.cea1c8","type":"json","z":"55d33ac.d7aaec4","name":"","property":"payload","action":"","pretty":false,"x":710,"y":380,"wires":[["4713fe4e.0860e"]]},{"id":"4713fe4e.0860e","type":"function","z":"55d33ac.d7aaec4","name":"Topic add","func":"msg.topic = \"THINGSPIN/MODELS\"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":380,"wires":[["cd7d3beb.1b8f98"]]},{"id":"cd7d3beb.1b8f98","type":"mqtt out","z":"55d33ac.d7aaec4","name":"","topic":"","qos":"2","retain":"true","broker":"b0cf8635.7f4c78","x":1060,"y":380,"wires":[]},{"id":"7c80d02a.4581d","type":"mysql","z":"55d33ac.d7aaec4","mydb":"4de311e8.460af","name":"thingspin","x":540,"y":380,"wires":[["c8fb8820.cea1c8"]]},{"id":"5300d5ce.0abe2c","type":"json","z":"f1fdecbb.73494","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["865d7534.f247a8"]]},{"id":"865d7534.f247a8","type":"function","z":"f1fdecbb.73494","name":"Topic add","func":"msg.topic = \"THINGSPIN/MODELS\"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":140,"wires":[["81f8475e.b99cd8","d995a827.65ca58"]]},{"id":"81f8475e.b99cd8","type":"mqtt out","z":"f1fdecbb.73494","name":"","topic":"","qos":"","retain":"","broker":"b0cf8635.7f4c78","x":800,"y":140,"wires":[]},{"id":"d995a827.65ca58","type":"debug","z":"f1fdecbb.73494","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":200,"wires":[]},{"id":"24e37d81.ee8ee2","type":"debug","z":"9fdcecb9.feb13","name":"LOG: 검사결과","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":549.1666831970215,"y":673.6666870117188,"wires":[]},{"id":"deeb59d5.6b26c8","type":"mqtt in","z":"9fdcecb9.feb13","name":"+/+/INSPT/+/+ __","topic":"+/+/INSPT/+/+","qos":"2","broker":"a719dc91.d52c9","x":142.16668701171875,"y":674.3333549499512,"wires":[["87bcba86.dcf998"]]},{"id":"a7d7a61f.da9628","type":"mqtt in","z":"9fdcecb9.feb13","name":"INSPPROP/#","topic":"INSPPROP/#","qos":"2","broker":"a719dc91.d52c9","x":135.16669464111328,"y":395.33336067199707,"wires":[["79d8a7a8.00b788"]]},{"id":"774d5be4.064d74","type":"debug","z":"9fdcecb9.feb13","name":"LOG: 검사항목","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":877.1666946411133,"y":394.66671085357666,"wires":[]},{"id":"389cdb16.5ea894","type":"mqtt in","z":"9fdcecb9.feb13","name":"ACTINADV/#","topic":"ACTINADV/#","qos":"2","broker":"a719dc91.d52c9","x":133.16669082641602,"y":510.3333435058594,"wires":[["d9bf9567.d5a7d8"]]},{"id":"5adcd8aa.7279a8","type":"debug","z":"9fdcecb9.feb13","name":"LOG: 조치 룰","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":866.1666870117188,"y":508.66668128967285,"wires":[]},{"id":"87bcba86.dcf998","type":"json","z":"9fdcecb9.feb13","name":"","property":"payload","action":"","pretty":false,"x":338.16669845581055,"y":701.0001831054688,"wires":[["24e37d81.ee8ee2","a799628a.43366"]]},{"id":"467742c.2f6e0bc","type":"influxdb out","z":"9fdcecb9.feb13","influxdb":"62088376.ebf75c","name":"inspection","measurement":"inspection","precision":"u","retentionPolicy":"","x":1530.1666526794434,"y":694.6668510437012,"wires":[]},{"id":"de2ed140.2f95a","type":"function","z":"9fdcecb9.feb13","name":"result - per device","func":"var data = msg;\ndata.measurement = \"inspection-\" + flow.get(\"YYYYMMDD\");\n\nvar p = data.payload;\ndelete data.payload;\n\ndata.payload = [\n    {\n        tuid: data._msgid,\n        stime:p.startTime,\n        etime: p.endTime\n    },\n    {\n        facility:p.pcID,\n        channel:p.channel,\n        model: p.prodModel,\n        pass: p.pass\n    }\n];\n\n\nreturn data;","outputs":1,"noerr":0,"x":1249.166648864746,"y":718.0001859664917,"wires":[["467742c.2f6e0bc","2596985c.6bd738"]]},{"id":"2596985c.6bd738","type":"debug","z":"9fdcecb9.feb13","name":"LOG: result - per device","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1577.1666564941406,"y":741.6667737960815,"wires":[]},{"id":"28bd5cc0.27b074","type":"mqtt in","z":"9fdcecb9.feb13","name":"+/+/INSPTDEV/+/+","topic":"+/+/INSPTDEV/+/+","qos":"2","broker":"a719dc91.d52c9","x":152,"y":730.0000238418579,"wires":[["87bcba86.dcf998"]]},{"id":"82915afe.3a84f8","type":"influxdb batch","z":"9fdcecb9.feb13","influxdb":"62088376.ebf75c","precision":"ms","retentionPolicy":"","name":"","x":875.1667709350586,"y":757.6667709350586,"wires":[]},{"id":"b2157f47.fabb9","type":"function","z":"9fdcecb9.feb13","name":" inspecton results","func":"var inspprop = flow.get(\"INSPPROP\");\n\nif (inspprop === null) {\n    return;\n}\n\nvar details = msg.payload.details;\ndelete msg.payload.details;\n\nmeasurement = 'inspection.detail-' + flow.get(\"YYYYMMDD\");\n\nvar records = details.map(\n    function(point) {\n        return {\n            measurement: measurement,\n            tags : {\n                facility: msg.payload.pcID,\n                channel: msg.payload.channel,\n                model: msg.payload.prodModel,\n                iid: point.iid,\n                pass: point.pass\n            },\n            fields: {\n                tuid: msg._msgid,\n                val: point.val,\n                min: point.min,\n                max: point.max,\n                inm: inspprop.get(point.iid).NAME\n            }\n\n        };\n    }\n);\n\nmsg.payload = records;\n\nreturn msg;","outputs":1,"noerr":0,"x":1249.166648864746,"y":776.3333568572998,"wires":[["ab056898.9fe688","2596985c.6bd738"]]},{"id":"5b49e234.cde90c","type":"function","z":"9fdcecb9.feb13","name":"INSPPROP: store in flow context","func":"var token = msg.topic.split('/');\n\nfor ( var t in token ) {\n    if(token[t] == \"INSPPROP\") {\n        msg.payload.ID = parseInt(token[parseInt(t)+1]);\n        break;\n    }\n}\n\nif ((\"ID\" in msg.payload) !== true) {\n    return;\n}\n\nvar prop = msg.payload;\n\nvar map = flow.get(\"INSPPROP\");\n\nif(map === null) {\n    map = new Map();\n}\n\nmap.set(prop.ID, prop);\n\nflow.set(\"INSPPROP\", map);\n\nreturn msg;","outputs":1,"noerr":0,"x":606.1666870117188,"y":395.00004386901855,"wires":[["774d5be4.064d74"]]},{"id":"79d8a7a8.00b788","type":"json","z":"9fdcecb9.feb13","name":"","property":"payload","action":"","pretty":false,"x":341.1667022705078,"y":394.66671085357666,"wires":[["5b49e234.cde90c"]]},{"id":"851ec6be.9aef08","type":"inject","z":"9fdcecb9.feb13","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":159.16668701171875,"y":245.33333587646484,"wires":[["7c06ffb.b1af2"]]},{"id":"7c06ffb.b1af2","type":"function","z":"9fdcecb9.feb13","name":"YYYYMMDD","func":"Date.prototype.yyyymmdd = function() {\n  var mm = this.getMonth() + 1; // getMonth() is zero-based\n  var dd = this.getDate();\n\n  return [this.getFullYear(),\n          (mm>9 ? '' : '0') + mm,\n          (dd>9 ? '' : '0') + dd\n         ].join('');\n};\n\nvar date = new Date();\ndate.yyyymmdd();\n\n\nflow.set(\"YYYYMMDD\", date.yyyymmdd());\n\nmsg.YYYYMMDD = flow.get(\"YYYYMMDD\");\n\nreturn msg;","outputs":1,"noerr":0,"x":366.1666946411133,"y":245.00000095367432,"wires":[["4d7ba792.db3df8"]]},{"id":"4d7ba792.db3df8","type":"debug","z":"9fdcecb9.feb13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"YYYYMMDD","x":886.1666870117188,"y":247.6666717529297,"wires":[]},{"id":"113d85b6.bd707a","type":"inject","z":"9fdcecb9.feb13","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":151.16677474975586,"y":111.3333511352539,"wires":[["d328861c.4ed8f8"]]},{"id":"d328861c.4ed8f8","type":"function","z":"9fdcecb9.feb13","name":"","func":"var q = flow.set(\"INSPPROP\", null);\nvar q = flow.set(\"ACTINADV\", null);\n\nreturn msg;","outputs":1,"noerr":0,"x":350.16679763793945,"y":111.0000171661377,"wires":[[]]},{"id":"e8567931.d3d1d8","type":"comment","z":"9fdcecb9.feb13","name":"[검사항목리스트를 FLOW 컨텍스트에 저장_________]","info":"","x":207,"y":348.0000047683716,"wires":[]},{"id":"663a10e6.25caa","type":"comment","z":"9fdcecb9.feb13","name":"[저장소 이름을 구분하기 위해 YYYYMMDD를 생성___]","info":"","x":207,"y":198.99999809265137,"wires":[]},{"id":"30016aa0.78d366","type":"comment","z":"9fdcecb9.feb13","name":"[관리자용 내부변수 초기화______________________]","info":"","x":205,"y":60,"wires":[]},{"id":"3665b95b.773146","type":"comment","z":"9fdcecb9.feb13","name":"[사전조치 항목: 연속불량 알림 계산 룰, CPK 계속 룰을  FLOW 컨텍스트에 저장]","info":"","x":285,"y":473,"wires":[]},{"id":"4364beb0.8a195","type":"comment","z":"9fdcecb9.feb13","name":"[시험결과를 받아 DB에 저장 _____________________]","info":"","x":207,"y":626.0000200271606,"wires":[]},{"id":"d9bf9567.d5a7d8","type":"json","z":"9fdcecb9.feb13","name":"","property":"payload","action":"","pretty":false,"x":337.16668701171875,"y":509,"wires":[["41a25957.fb5318"]]},{"id":"41a25957.fb5318","type":"function","z":"9fdcecb9.feb13","name":"ACTINADV: store in flow context","func":"var token = msg.topic.split('/');\n\nfor ( var t in token ) {\n    if(token[t] == \"ACTINADV\") {\n        msg.payload.ID = parseInt(token[parseInt(t)+1]);\n        break;\n    }\n}\n\nif ((\"ID\" in msg.payload) !== true) {\n    return;\n}\n\nvar prop = msg.payload;\n\nvar map = flow.get(\"ACTINADV\");\n\nif(map === null) {\n    map = new Map();\n}\n\nmap.set(prop.ID, prop);\n\nflow.set(\"ACTINADV\", map);\n\nreturn msg;","outputs":1,"noerr":0,"x":596.1666870117188,"y":509.3333740234375,"wires":[["5adcd8aa.7279a8"]]},{"id":"a799628a.43366","type":"function","z":"9fdcecb9.feb13","name":" inspecton results","func":"//=========================================================\nvar YYYYMMDD = flow.get(\"YYYYMMDD\");\nvar inspprop = flow.get(\"INSPPROP\");\nvar actinadv = flow.get(\"ACTINADV\");\n\nif ((YYYYMMDD === null) || (inspprop === null) || (actinadv === null)) {\n    return;\n}\n\nvar mesINSP = \"inspection.summary-\" + YYYYMMDD;\nvar mesDETL = 'inspection.detail-' + YYYYMMDD;\n\n//=========================================================\nvar details = msg.payload.details;\ndelete msg.payload.details;\n\nvar inspection = msg.payload;\n\n//=========================================================\ninspection = {\n    measurement: mesINSP,\n    tags: {\n        facility: inspection.pcID,\n        channel: inspection.channel,\n        model: inspection.prodModel,\n        pass: inspection.pass\n    },\n    fields: {\n        tuid: msg._msgid,\n        stime: inspection.startTime,\n        etime: inspection.endTime\n    }\n};\n\n//=========================================================\nvar transaction = details.map(\n    function(point) {\n        return {\n            measurement: mesDETL,\n            tags : {\n                facility: msg.payload.pcID,\n                channel: msg.payload.channel,\n                model: msg.payload.prodModel,\n                iid: point.iid,\n                pass: point.pass\n            },\n            fields: {\n                tuid: msg._msgid,\n                val: point.val,\n                min: point.min,\n                max: point.max,\n                inm: inspprop.get(point.iid).NAME\n            }\n\n        };\n    }\n);\n\ntransaction.push(inspection);\n\n//=========================================================\nmsg.payload = transaction;\n\nreturn msg;","outputs":1,"noerr":0,"x":556.0000953674316,"y":738.0000228881836,"wires":[["82915afe.3a84f8","353a4c61.75c574"]]},{"id":"ab056898.9fe688","type":"influxdb batch","z":"9fdcecb9.feb13","influxdb":"62088376.ebf75c","precision":"ms","retentionPolicy":"","name":"","x":1560.999984741211,"y":792.0000247955322,"wires":[]},{"id":"353a4c61.75c574","type":"debug","z":"9fdcecb9.feb13","name":"LOG : detail result - per inspection item","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":935.166690826416,"y":716.6666870117188,"wires":[]},{"id":"fdfb26ee.038298","type":"comment","z":"9fdcecb9.feb13","name":"[백업___________________________________]","info":"","x":1336.9999923706055,"y":653.0000190734863,"wires":[]}]