flows_center.json
[{"id":"1eb07d0d.798353","type":"tab","label":"(본사) MQTT Topics Logging","disabled":false,"info":""},{"id":"55d33ac.d7aaec4","type":"tab","label":"RemoteSolution-MII-Data-Getter","disabled":false,"info":""},{"id":"6581aefa.7810c","type":"tab","label":"각 지사별 다운로드","disabled":true,"info":""},{"id":"f1fdecbb.73494","type":"subflow","name":"Insert Model Data","info":"","in":[{"x":60,"y":60,"wires":[{"id":"4829a067.a9354"}]}],"out":[{"x":1100,"y":60,"wires":[{"id":"1090375f.dfdae9","port":0}]}]},{"id":"b4aed5e2.8925e8","type":"subflow","name":"Insert Plan Data","info":"","in":[{"x":800,"y":260,"wires":[{"id":"90cc5027.52a4e"}]}],"out":[{"x":1860,"y":260,"wires":[{"id":"5712475d.126c08","port":0}]}]},{"id":"b0cf8635.7f4c78","type":"mqtt-broker","z":"","name":"localMQTTBroker","broker":"localhost","port":"1883","clientid":"main","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e2ccc07d.64fb5","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"","usetls":false,"tls":""},{"id":"bc96548e.f1a348","type":"MSSQL-CN","z":"","name":"지사 서버(가정)","server":"219.251.4.237","encyption":true,"database":"thingspin-v0"},{"id":"eb3120e1.46088","type":"sqldbsdatabase","z":"","host":"219.251.4.236","port":"3306","db":"thingspin","dialect":"mysql"},{"id":"4de311e8.460af","type":"MySQLdatabase","z":"","host":"219.251.4.236","port":"3306","db":"thingspin","tz":""},{"id":"8fd034e1.6a9df8","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL DEMO SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"60000","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":""},{"id":"a68367a3.7a4868","type":"sqldbsdatabase","z":"","host":"222.103.90.24","port":"1433","db":"POPLM","dialect":"mssql"},{"id":"4a32a9f5.5882b8","type":"MSSQL-CN","z":"","name":"Remote Solution MII Database","server":"222.103.90.24","encyption":false,"database":"POPLM"},{"id":"6ee9bc3c.30a894","type":"mqtt in","z":"1eb07d0d.798353","name":"Main Broker Recv","topic":"#","qos":"0","broker":"b0cf8635.7f4c78","x":110,"y":120,"wires":[["7c93f19c.87d53","2af0a035.52ddc"]]},{"id":"b309b6c.f222748","type":"sqldbs","z":"1eb07d0d.798353","mydb":"eb3120e1.46088","querytype":"Insert","name":"","x":220,"y":360,"wires":[["3bc9ae3.a401352"]]},{"id":"3bc9ae3.a401352","type":"debug","z":"1eb07d0d.798353","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":360,"wires":[]},{"id":"b943ca40.fa4bd8","type":"template","z":"1eb07d0d.798353","name":"Query Template","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into t_mqtt_log (CONTENTS) values (\n    '{{{payload}}}'\n)","output":"str","x":240,"y":280,"wires":[["b309b6c.f222748","1af4127d.f3ccce"]]},{"id":"7c93f19c.87d53","type":"function","z":"1eb07d0d.798353","name":"data preprocessing","func":"var result = {\n    payload: JSON.stringify(msg)\n};\n\nreturn result;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["b943ca40.fa4bd8","7d8ed8e9.4e84a8"]]},{"id":"2af0a035.52ddc","type":"debug","z":"1eb07d0d.798353","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":120,"wires":[]},{"id":"7d8ed8e9.4e84a8","type":"debug","z":"1eb07d0d.798353","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":200,"wires":[]},{"id":"1af4127d.f3ccce","type":"debug","z":"1eb07d0d.798353","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":280,"wires":[]},{"id":"914f5e2e.4a378","type":"mqtt in","z":"6581aefa.7810c","name":"검사 항목 추가/수정 수신","topic":"inspection_property/+/insert","qos":"1","broker":"b0cf8635.7f4c78","x":140,"y":140,"wires":[["78be5745.9b1378","4cec85a0.807b9c"]]},{"id":"2bc20be9.a16254","type":"comment","z":"6581aefa.7810c","name":"본사 Broker : 219.251.4.236:1883","info":"","x":170,"y":60,"wires":[]},{"id":"a732232d.f12b5","type":"mysql","z":"6581aefa.7810c","mydb":"4de311e8.460af","name":"본사 MariaDB","x":610,"y":680,"wires":[["42ae56be.f20bf8","15ed7574.e4ac7b"]]},{"id":"391d426c.e87dde","type":"template","z":"6581aefa.7810c","name":"지사 코드 쿼리","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from t_site_code","output":"str","x":610,"y":600,"wires":[["a732232d.f12b5","c4185791.f0cbc8"]]},{"id":"ed9ffe13.98521","type":"mqtt out","z":"6581aefa.7810c","name":"각 지사 MQTT Broker에 전달","topic":"","qos":"","retain":"","broker":"b0cf8635.7f4c78","x":950,"y":840,"wires":[]},{"id":"78be5745.9b1378","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":140,"wires":[]},{"id":"4cec85a0.807b9c","type":"json","z":"6581aefa.7810c","name":"","property":"payload","action":"","pretty":false,"x":580,"y":440,"wires":[["6ccc3953.9acbe8","f0ae13f3.dec78"]]},{"id":"f0ae13f3.dec78","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":440,"wires":[]},{"id":"15ed7574.e4ac7b","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":680,"wires":[]},{"id":"c4185791.f0cbc8","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":600,"wires":[]},{"id":"6ccc3953.9acbe8","type":"function","z":"6581aefa.7810c","name":"Payload 복사","func":"msg.mqttData = JSON.parse(JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":520,"wires":[["70ee7b35.fa9524","391d426c.e87dde"]]},{"id":"70ee7b35.fa9524","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":520,"wires":[]},{"id":"42ae56be.f20bf8","type":"function","z":"6581aefa.7810c","name":"MQTT 전송 형식 설정","func":"var messages = [];\nmsg.retain = true;\n\nmsg.payload.forEach( (t_site_code) => {\n    let temp = JSON.parse(JSON.stringify(msg));\n    temp.payload = JSON.parse(JSON.stringify(temp.mqttData));\n    temp.topic = t_site_code.SITE_NAME + \"/\" + temp._topic;\n    messages.push(temp);\n});\nreturn [messages];","outputs":1,"noerr":0,"x":630,"y":760,"wires":[["81190370.f1ae4","ed9ffe13.98521"]]},{"id":"331e4ef7.04ff12","type":"comment","z":"1eb07d0d.798353","name":"본사 Broker : 219.251.4.236:1883","info":"","x":150,"y":60,"wires":[]},{"id":"81190370.f1ae4","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":760,"wires":[]},{"id":"ff14db0b.94fff8","type":"mqtt in","z":"6581aefa.7810c","name":"검사 항목 삭제 수신","topic":"inspection_property/+/delete","qos":"1","broker":"b0cf8635.7f4c78","x":120,"y":200,"wires":[["4cec85a0.807b9c","8db22df3.e7a51"]]},{"id":"8db22df3.e7a51","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":200,"wires":[]},{"id":"34dbd7d2.43b058","type":"mqtt in","z":"6581aefa.7810c","name":"모델별 조치 기준 추가/수정 수신","topic":"model_inspection_property/+/+/insert","qos":"1","broker":"b0cf8635.7f4c78","x":160,"y":320,"wires":[["4cec85a0.807b9c","1fd4067a.6ff2ca"]]},{"id":"a55f2d15.12eb1","type":"comment","z":"6581aefa.7810c","name":"모델별 조치기준 다운로드","info":"","x":140,"y":260,"wires":[]},{"id":"218b2e1.de84cd2","type":"mqtt in","z":"6581aefa.7810c","name":"모델별 조치 기준 삭제 수신","topic":"model_inspection_property/+/+/delete","qos":"1","broker":"b0cf8635.7f4c78","x":140,"y":380,"wires":[["4cec85a0.807b9c","cf806a8c.6f72b8"]]},{"id":"1fd4067a.6ff2ca","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":320,"wires":[]},{"id":"cf806a8c.6f72b8","type":"debug","z":"6581aefa.7810c","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":380,"wires":[]},{"id":"eb1d2282.bf1b2","type":"comment","z":"6581aefa.7810c","name":"감사항목 다운로드","info":"","x":120,"y":100,"wires":[]},{"id":"79a9bbcf.9e2664","type":"mysql","z":"55d33ac.d7aaec4","mydb":"4de311e8.460af","name":"TS-DB","x":450,"y":160,"wires":[["97321026.6506e"]]},{"id":"3c4fae10.c35482","type":"function","z":"55d33ac.d7aaec4","name":"[SQL] Get Last Date ","func":"msg.topic = \"select DATE_FORMAT(plan_date, '%Y%m%d') as lastdate from t_product_plan order by plan_date DESC limit 1;\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["79a9bbcf.9e2664"]]},{"id":"a0ff79be.964798","type":"inject","z":"55d33ac.d7aaec4","name":"Repeat 1Hour","topic":"thingspin","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["3c4fae10.c35482"]]},{"id":"97321026.6506e","type":"switch","z":"55d33ac.d7aaec4","name":"is Data Empty","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":160,"wires":[["43dd20d5.c1089","eaa950a1.3fd3e"],["64d06ee2.2f6e6","69291f22.a486d"]]},{"id":"4829a067.a9354","type":"MSSQL","z":"f1fdecbb.73494","mssqlCN":"4a32a9f5.5882b8","name":"[SQL] Get Model List","query":"{{{payload}}}","outField":"payload","x":240,"y":60,"wires":[["24df2ef7.3e9d12","5300d5ce.0abe2c"]]},{"id":"24df2ef7.3e9d12","type":"template","z":"f1fdecbb.73494","name":"Make Insert SQL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n('{{MODEL}}','{{MODEL_DIS}}'),\n{{/payload}}","output":"str","x":490,"y":60,"wires":[["8052d4c8.90a308"]]},{"id":"1090375f.dfdae9","type":"mysql","z":"f1fdecbb.73494","mydb":"4de311e8.460af","name":"thingspin","x":950,"y":60,"wires":[[]]},{"id":"8052d4c8.90a308","type":"function","z":"f1fdecbb.73494","name":"Data Function ","func":"var insert_front = \"insert into t_model (MODEL_ID, DESCRIPTION) values \"\nvar insert_end = \" on duplicate key update MODEL_ID=MODEL_ID, DESCRIPTION=DESCRIPTION;\"\nvar content = msg.payload;\nvar insert_content = content.slice(0,-2);\n\nmsg.topic = insert_front + insert_content + insert_end;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":60,"wires":[["1090375f.dfdae9"]]},{"id":"eadc72fe.1b93e","type":"template","z":"b4aed5e2.8925e8","name":"Make Insert SQL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n('{{REGDATE}}', '{{PLANT}}', '{{MODEL}}', {{QUANTITY}}),\n{{/payload}}","output":"str","x":1230,"y":260,"wires":[["6424a250.813bfc"]]},{"id":"6424a250.813bfc","type":"function","z":"b4aed5e2.8925e8","name":"Data Function ","func":"var insert_front = \"insert into t_product_plan (plan_date, plant_id, model_id, amount) values \";\nvar insert_end = \" on duplicate key update plan_date=plan_date, plant_id=plant_id, model_id=model_id, amount=amount;\";\nvar insert_content = msg.payload.slice(0,-2);\nmsg.topic = insert_front + insert_content + insert_end;\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":260,"wires":[["5712475d.126c08"]]},{"id":"90cc5027.52a4e","type":"MSSQL","z":"b4aed5e2.8925e8","mssqlCN":"4a32a9f5.5882b8","name":"[SQL] Get Plan List","query":"","outField":"payload","x":990,"y":260,"wires":[["eadc72fe.1b93e"]]},{"id":"5712475d.126c08","type":"mysql","z":"b4aed5e2.8925e8","mydb":"4de311e8.460af","name":"","x":1690,"y":260,"wires":[[]]},{"id":"a91551cd.44ed9","type":"subflow:f1fdecbb.73494","z":"55d33ac.d7aaec4","name":"Insert All Model Data","x":1120,"y":120,"wires":[["45057157.33693"]]},{"id":"814d43d9.834cb","type":"subflow:b4aed5e2.8925e8","z":"55d33ac.d7aaec4","name":"Insert All Plan Data","x":1590,"y":120,"wires":[[]]},{"id":"64d06ee2.2f6e6","type":"function","z":"55d33ac.d7aaec4","name":"Last Date After Model Insert Query Make","func":"flow.set(\"lastdate\",msg.payload[0].lastdate);\nvar query = \"select MATERIAL as MODEL, MATERIAL_TEXT as MODEL_DIS From Product_Order_Header where START_DATE >= \";\nvar lastdate = msg.payload[0].lastdate;\nvar last = \" group by MATERIAL, MATERIAL_TEXT\";\nnode.log(lastdate);\nmsg.payload = query + lastdate + last\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":180,"wires":[["7be77ce.9df3284"]]},{"id":"43dd20d5.c1089","type":"function","z":"55d33ac.d7aaec4","name":"All Model Insert Query Make","func":"msg.payload = \"select MATERIAL as MODEL, MATERIAL_TEXT as MODEL_DIS From Product_Order_Header group by MATERIAL, MATERIAL_TEXT;\"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":120,"wires":[["a91551cd.44ed9"]]},{"id":"7be77ce.9df3284","type":"subflow:f1fdecbb.73494","z":"55d33ac.d7aaec4","name":"Insert All Model Data","x":1200,"y":180,"wires":[["6b655bc2.161d74","1555ab60.902065"]]},{"id":"1555ab60.902065","type":"function","z":"55d33ac.d7aaec4","name":"Last Date After Plan Insert Query Make","func":"var query = \"SELECT A.START_DATE AS REGDATE,A.PRODUCTION_PLANT AS PLANT,A.MATERIAL AS MODEL,CONVERT(INT, cast(SUM(A.TARGET_QUANTITY) as decimal(10,0))) AS QUANTITY FROM Product_Order_Header A INNER JOIN Product_Order_Item B ON A.ORDER_NUMBER = B.ORDER_NUMBER INNER JOIN Product_Order_Operation C ON A.ORDER_NUMBER = C.ORDER_NUMBER where A.START_DATE >= \";\nvar lastdate = flow.get(\"lastdate\");\nvar last = \"GROUP BY A.START_DATE,A.PRODUCTION_PLANT, A.MATERIAL ORDER BY A.START_DATE ASC;\";\nnode.log(lastdate);\nmsg.payload = query + lastdate + last\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":180,"wires":[["8f4dea41.61c098"]]},{"id":"45057157.33693","type":"function","z":"55d33ac.d7aaec4","name":"All Plan Insert Query Make","func":"msg.payload = \"SELECT A.START_DATE AS REGDATE,A.PRODUCTION_PLANT AS PLANT,A.MATERIAL AS MODEL,CONVERT(INT, cast(SUM(A.TARGET_QUANTITY) as decimal(10,0))) AS QUANTITY FROM Product_Order_Header A INNER JOIN Product_Order_Item B ON A.ORDER_NUMBER = B.ORDER_NUMBER INNER JOIN Product_Order_Operation C ON A.ORDER_NUMBER = C.ORDER_NUMBER GROUP BY A.START_DATE,A.PRODUCTION_PLANT, A.MATERIAL ORDER BY A.START_DATE ASC;\"\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":120,"wires":[["814d43d9.834cb"]]},{"id":"8f4dea41.61c098","type":"subflow:b4aed5e2.8925e8","z":"55d33ac.d7aaec4","name":"Insert All Plan Data","x":1770,"y":180,"wires":[["4c40e0e7.2e4c8"]]},{"id":"6b655bc2.161d74","type":"debug","z":"55d33ac.d7aaec4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":220,"wires":[]},{"id":"4c40e0e7.2e4c8","type":"debug","z":"55d33ac.d7aaec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1950,"y":180,"wires":[]},{"id":"69291f22.a486d","type":"debug","z":"55d33ac.d7aaec4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":220,"wires":[]},{"id":"eaa950a1.3fd3e","type":"debug","z":"55d33ac.d7aaec4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":80,"wires":[]},{"id":"1bdfcb60.4fed05","type":"inject","z":"55d33ac.d7aaec4","name":"","topic":"thingspin","payload":"","payloadType":"date","repeat":"43200","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":300,"wires":[["2b081724.492dd8"]]},{"id":"2b081724.492dd8","type":"function","z":"55d33ac.d7aaec4","name":"[SQL] Get Model Data","func":"msg.topic = \"select MODEL_ID, DESCRIPTION from t_model;\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":380,"wires":[["7c80d02a.4581d"]]},{"id":"c8fb8820.cea1c8","type":"json","z":"55d33ac.d7aaec4","name":"","property":"payload","action":"","pretty":false,"x":710,"y":380,"wires":[["4713fe4e.0860e"]]},{"id":"4713fe4e.0860e","type":"function","z":"55d33ac.d7aaec4","name":"Topic add","func":"msg.topic = \"THINGSPIN/MODELS\"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":380,"wires":[["cd7d3beb.1b8f98"]]},{"id":"cd7d3beb.1b8f98","type":"mqtt out","z":"55d33ac.d7aaec4","name":"","topic":"","qos":"2","retain":"true","broker":"b0cf8635.7f4c78","x":1060,"y":380,"wires":[]},{"id":"7c80d02a.4581d","type":"mysql","z":"55d33ac.d7aaec4","mydb":"4de311e8.460af","name":"thingspin","x":540,"y":380,"wires":[["c8fb8820.cea1c8"]]},{"id":"5300d5ce.0abe2c","type":"json","z":"f1fdecbb.73494","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["865d7534.f247a8"]]},{"id":"865d7534.f247a8","type":"function","z":"f1fdecbb.73494","name":"Topic add","func":"msg.topic = \"THINGSPIN/MODELS\"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":140,"wires":[["81f8475e.b99cd8","d995a827.65ca58"]]},{"id":"81f8475e.b99cd8","type":"mqtt out","z":"f1fdecbb.73494","name":"","topic":"","qos":"","retain":"","broker":"b0cf8635.7f4c78","x":800,"y":140,"wires":[]},{"id":"d995a827.65ca58","type":"debug","z":"f1fdecbb.73494","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":200,"wires":[]}]